GameTimer {
    position: absolute;
    width: 200px;
    aspect-ratio: 1;

    background-image: url(materials/gui/timer.png);
    background-size: cover;
    image-rendering: pixelated;
    
    align-items: center;
    justify-content: center;

    .hand {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(materials/gui/timer-hand.png);
        background-position: center;
        background-size: contain;
        image-rendering: pixelated;
        transform: rotate(350deg);
    }
    
    .text {
        font-size: 36px;
        color: white;
        font-family: "Perfect DOS VGA 437";
        text-shadow: 2px 2px 2px black;
        }
}