@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits PanelComponent

<root>
	<div class="container">
		@for (int i = 0; i < 9; i++)
		{
			<div class="item-slot @(VoxelPlayer.SelectedSlot == i ? "selected" : "")">
				<ItemIcon Slot=@(i)></ItemIcon>
			</div>
		}
	</div>
</root>

@code
{
	PlayerController Controller { get; set; }
	VoxelPlayer Player { get; set; }

	protected override void OnStart()
	{
		Controller = Scene.GetAllComponents<PlayerController>().FirstOrDefault(x => x.Network.Owner == Network.Owner);
		Player = Scene.GetAllComponents<VoxelPlayer>().FirstOrDefault(x => x.Network.Owner == Network.Owner);
	}

	protected override int BuildHash() => HashCode.Combine($"{VoxelPlayer.SelectedSlot}");
}
