@using Sandbox.UI
@inherits Panel

<root>
	@if (Slot != -1)
	{
		<div class="slot-number">@(Slot + 1 - Inventory.InventorySize)</div>
		<div class="item-count">@if(@ItemStack.Count > 0){
			@ItemStack.Count
		}
	</div>
		}
</root>
