$slate-text: white;
$slate-hover: #727a79;
$slate-background: #383e43;
$slate-border: #8e8e8e;
$slate-border-highlight: #d1d1d1;
$slate-border-dark: #505757;
$slate-shadow: #252525;

$green-text: white;
$green-hover: #63c363;
$green-background: #1e652b;
$green-border: #33ba24;
$green-border-dark: #1b931b;
$green-shadow: #104e10;
$click-sound: "sounds/ui/ui_soundpack/click.sound";

SpeedBuildHud {
    width: 100%;
    height: 100%;
    color: white;
    font-family: "Perfect DOS VGA 437";
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-shadow: 5px 5px 2px 0 black;

    #score {
        position: relative;
        bottom: 150px;
        width: 25%;        
        height: 50px;
        backdrop-filter: blur(5px);
        background-color: #00000080;
        border-radius: 10px;
        border: solid 2px #ffffff80;

        justify-content: center;
        align-items: center;
        font-size: 30px;

        &.hidden {
            display: none;
        }

        .goodbar {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background-color: #00ff0088;
        }
        .badbar {
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            height: 100%;
            background-color: #ff000088;
        }

        .failPointer{
            position: absolute;
            align-items: center;
            justify-content: center;
            left: 0;
            width: 30%;
            text-align: right;
            background:linear-gradient(-45deg, transparent,transparent,transparent,transparent,transparent,transparent, black,black,black,black,black,black);
            background-repeat: repeat;
            background-size: 15px 15px;
            &.hidden{
                display:none;
            }
        }
    }
}