@using Sandbox.UI;
@inherits PanelComponent
<root>
    <div id="score" class="@(VoxelPlayer.LocalPlayer.TotalBlockArea == 0 ? "hidden" : "")">
        <div class="goodbar"></div>
        <div class="badbar"></div>
        <div class="failPointer @(KillPercentage.HasValue ? "" : "hidden")">💀</div>
        @((int)(100 * VoxelPlayer.LocalPlayer.CorrectBlocksPlaced / System.Math.Max(1,
                VoxelPlayer.LocalPlayer.TotalBlockArea)))%
    </div>
</root>
