@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
    <div class="text">@Text</div>
</root>

@code {
    [Property] public string Text { get; set; }
    protected override int BuildHash() => Text.GetHashCode();
}