@using System
@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Network;
@inherits Panel

<root>
	<div class="quit" @onclick=@( () => Menu.menuState = Menu.State.None )>Back</div>

	<div class="panel-header">
		<h2>CHARACTER</h2>
	</div>
</root>

@code
{
	
}
