$slate-text: white;
$slate-hover: #727a79;
$slate-background: #383e43;
$slate-border: #8e8e8e;
$slate-border-highlight: #d1d1d1;
$slate-border-dark: #505757;
$slate-shadow: #252525;

$green-text: white;
$green-hover: #63c363;
$green-background: #1e652b;
$green-border: #33ba24;
$green-border-dark: #1b931b;
$green-shadow: #104e10;
$click-sound: "sounds/ui/ui_soundpack/click.sound";

LobbyCreator {
  width: 50%;
  height: 100%;
  font-family: "perfect dos vga 437";
  transition: opacity 0.4s ease, transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  flex-direction: column;
  gap: 50px;
  align-items: center;
  pointer-events: all;
  color: $slate-text;

  .panel-header {
    align-items: center;
    justify-content: center;
    background-color: $slate-background;
    box-shadow: 0px 10px 0px 0px $slate-shadow;
    padding: 20px;
    width: 50%;

    h2 {
      font-size: 36px;
      letter-spacing: 2px;
      margin: 0;
      text-transform: uppercase;
    }
  }

  .lobby-name {
    width: 100%;
    aspect-ratio: 14;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: $slate-background;
    border-left: 4px $slate-border;
    border-top: 4px $slate-border;
    border-right: 4px  $slate-border-dark;
    border-bottom: 4px  $slate-border-dark;
    box-shadow: 0px 10px 0px 0px $slate-shadow;
    
    &:hover {
      background-color: $slate-hover;
    }

    &:focus {
      background-color: $slate-background;
      border-left: 4px $slate-border-highlight;
      border-top: 4px $slate-border-highlight;
      border-right: 4px  $slate-border;
      border-bottom: 4px  $slate-border;
      box-shadow: 0px 10px 0px 0px $slate-background;
    }
  }

  .option-label {
    font-size: 40px;
    text-transform: uppercase;
  }

  .slice {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 25px;
    width: 75%;
  }
  
  .create {
    position: absolute;
    bottom: 0;
    right: 0;
    
    font-size: 40px;
    margin: 20px;
    padding: 20px 40px 20px 40px;
    text-transform: uppercase;
    cursor: pointer;
    
    pointer-events: all;
    background-color: $green-background;
    border-left: 4px $green-border;
    border-top: 4px $green-border;
    border-right: 4px  $green-border-dark;
    border-bottom: 4px  $green-border-dark;

    &:active {
      sound-in: $click-sound;
    }

    &:hover {
      background-color: $green-hover;
    }
  }

  .option {
    align-items: center;
    justify-content: space-between;
    pointer-events: all;
    width: 100%;
  }

  .toggle-button {
    width: 60px;
    height: 32px;
    align-items: center;
    justify-content: flex-start;
    background-color: $slate-background;
    border-left: 2px $slate-border;
    border-top: 2px $slate-border;
    border-right: 2px  $slate-border-dark;
    border-bottom: 2px  $slate-border-dark;
    position: relative;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      border-left: 2px $slate-border-highlight;
      border-top: 2px $slate-border-highlight;
      border-right: 2px  $slate-border;
      border-bottom: 2px  $slate-border;
    }
    
    &:active {
      sound-in: $click-sound;
    }

    &.active {
      justify-content: flex-end;
      background-color: $green-border;
      opacity: 1;
    }
  }

  .toggle-thumb {
    height: 100%;
    aspect-ratio: 1;
    background-color: $slate-border;
    border-left: 2px $slate-border-highlight;
    border-top: 2px $slate-border-highlight;
    border-right: 2px  $slate-border-dark;
    border-bottom: 2px  $slate-border-dark;
  }

  .toggle-button.active .toggle-thumb {
    left: 20px;
  }

  /* Number input styling */
  .number-input {
    justify-content: space-evenly;
    align-items: center;
    background-color: $slate-background;
    border-left: 2px $slate-border;
    border-top: 2px $slate-border;
    border-right: 2px  $slate-border-dark;
    border-bottom: 2px  $slate-border-dark;
    width: 20%;
    height: 40px;
    pointer-events: all;

    .number-decrement, .number-increment {
      width: 40px;
      aspect-ratio: 1;
      font-size: 24px;
      cursor: pointer;
      
      align-items: center;
      justify-content: center;

      &:hover {
        color: cornflowerblue;
      }

      &:active {
        sound-in: $click-sound;
      }
    }

    .number-value {
      text-align: center;
      font-size: 18px;
    }
  }
  
  .privacy-select {
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: $slate-background;
    border-left: 2px $slate-border;
    border-top: 2px $slate-border;
    border-right: 2px  $slate-border-dark;
    border-bottom: 2px  $slate-border-dark;
    height: 40px;
    width: 20%;
    cursor: pointer;

    &:active {
      sound-in: $click-sound;
    }

    option {
      display: none;
    }
  }
  
  popup {
    .button {
      background-color: white;
    }
  }
}