@using System
@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Network;
@inherits PanelComponent

<root>
	@if ( menuState == State.None ) 
	{
	<div class="quit" @onclick=@( () => ExitGame() )>Quit</div>
	<div class="logo"></div>
    <div class="buttons">
		<div class="slice">
			<div class="play" @onclick=@( () => menuState = State.Play )>
				<div class="top-bar">
					<span>Play</span>
				</div>
	    	</div>
			<div class="settings" @onclick=@( () => menuState = State.Settings )>
		    	<span>Settings</span>
	    	</div>
		</div>

	    <div class="slice">
		    <div class="character" @onclick=@( () => menuState = State.Character )>
				<div class="top-bar">
					<span>Character</span>
				</div>
		    </div>

		    <div class="news" @onclick=@( () => menuState = State.News )>
			    <span>News</span>
		    </div>
		</div>
	</div>
	}
	@if ( menuState == State.Play ) { <ServerList @ref=serverList></ServerList> }
	@if ( menuState == State.Create ) { <LobbyCreator @ref=lobbyCreator></LobbyCreator> }
	@if ( menuState == State.Character ) { <Character @ref=lobbyCreator></Character> }
	@if ( menuState == State.Settings ) { <Settings @ref=lobbyCreator></Settings> }
	@if ( menuState == State.News ) { <News @ref=lobbyCreator></News> }
</root>

@code
{	
	public bool IsVisible { get; set; } = true;
	public LobbyCreator lobbyCreator { get; set; }
	public ServerList serverList { get; set; }
	//TODO: Render player avatar to a texture and set character img src to it

	public static State menuState { get; set; } = State.None;

    protected override int BuildHash() => HashCode.Combine( IsVisible, menuState );

    protected override void OnUpdate()
    {
	    if ( Input.EscapePressed ) Input.EscapePressed = false;
    }

    protected override void OnStart()
    {
	    menuState = State.None;
    }

    private void ExitGame()
    {
        Game.Close();
    }

    public enum State
    {
	    None,
	    Play,
		Create,
		Character,
	    Settings,
		News
    }
}
