$click-sound: "sounds/ui/ui_soundpack/click.sound";
$slate-text: white;
$slate-hover: #727a79;
$slate-background: #383e43;
$slate-border: #8e8e8e;
$slate-border-dark: #505757;
$slate-shadow: #252525;

$green-text: white;
$green-hover: #63c363;
$green-background: #1e652b;
$green-border: #33ba24;
$green-border-dark: #1b931b;
$green-shadow: #104e10;

Menu
{
    width: 100%;
    height: 100%;
    cursor: default;
    pointer-events: all;
    //background-image: url();
    font-family: "perfect dos vga 437";
    font-size: 40px;

    flex-direction: column;
    align-items: center;
}

.menu-container {
    margin-top: 8%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-top: 20px;
    background-image: url(materials/gui/title/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
    width: 1024px;
    aspect-ratio: 145/50;
}

.buttons {
    width: 35%;
    height: 50%;
    margin-bottom: 100px;
    justify-content: space-evenly;
}

.slice {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.top-bar {
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.quit {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 40px;
    margin: 20px;
    padding: 20px 40px 20px 40px;
    color: $slate-text;
    background-color: $slate-background;
    border-left: 4px $slate-border;
    border-top: 4px $slate-border;
    border-right: 4px  $slate-border-dark;
    border-bottom: 4px  $slate-border-dark;
    
    &:hover {
        background-color: $slate-hover;
        cursor: pointer;
    }
    
    &:active {
        sound-in: $click-sound;
    }
}

.play, .news {
    color: $green-text;
    background-color: $green-background;
    border-left: 4px $green-border;
    border-top: 4px $green-border;
    border-right: 4px  $green-border-dark;
    border-bottom: 4px  $green-border-dark;
    box-shadow: 0px 10px 0px 0px $green-shadow;
    
    &:hover {
        background-color: $green-hover;
        cursor: pointer;
    }
    
    &:active {
        sound-in: $click-sound;
    }
}

.character, .settings {
    color: $slate-text;
    background-color: $slate-background;
    border-left: 4px $slate-border;
    border-top: 4px $slate-border;
    border-right: 4px  $slate-border-dark;
    border-bottom: 4px  $slate-border-dark;
    box-shadow: 0px 10px 0px 0px $slate-shadow;
    
    &:hover {
        cursor: pointer;
    }

    &:active {
        sound-in: $click-sound;
    }
}

.play, .character {
    width: 300px;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    img {
        position: relative;
        flex-grow: 1;
        width: 100%;
    }
}

.settings, .news {
    width: 300px;
    height: 80px;
    font-size: 50px;

    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.play {
    font-size: 60px;
}

.character {
    font-size: 40px;
    background-color: rgba($slate-background, 0.84);
    
    .top-bar {
        background-color: $slate-background;
        border-left: 2px $slate-border;
        border-top: 2px $slate-border;
        border-right: 2px  $slate-border-dark;
        border-bottom: 4px  $slate-border-dark;
    }

    &:hover {
        background-color: $slate-hover;
    }
}

.settings {
    &:hover {
        background-color: $slate-hover;
    }
}

.hidden {
    pointer-events: none;
    display: none;
}