@using System
@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Network;
@inherits PanelComponent

<root>
	@if ( menuState == State.None ) 
	{
	<div class="quit" @onclick=@( () => ExitGame() )>Quit</div>
	<div class="logo"></div>
    <div class="buttons">
		<div class="slice">
			<div class="play" @onclick=@( () => menuState = State.Play )>
				<div class="top-bar">
					<span>Play</span>
				</div>
				<img src="materials/gui/title/temp.png" alt="">
	    	</div>
			<div class="settings">
		    	<span>Settings</span>
	    	</div>
		</div>

	    <div class="slice">
		    <div class="character">
				<div class="top-bar">
					<span>@Connection.Local.DisplayName</span>
				</div>
			    <img src="materials/gui/title/temp.png" alt="">
		    </div>

		    <div class="news">
			    <span>News</span>
		    </div>
		</div>
	</div>
	} else {<div class="quit" @onclick=@( () => menuState = State.None )>Back</div>}
	@if ( menuState == State.Play ) { <ServerList @ref=serverList></ServerList> }
	@if ( menuState == State.Create ) { <LobbyCreator @ref=lobbyCreator></LobbyCreator> }
</root>

@code
{	
	public bool IsVisible { get; set; } = true;
	public LobbyCreator lobbyCreator { get; set; }
	public ServerList serverList { get; set; }
	//TODO: Render player avatar to a texture and set character img src to it

	public static State menuState { get; set; } = State.None;

    protected override int BuildHash() => HashCode.Combine( IsVisible, menuState );

    protected override void OnUpdate()
    {
	    if ( Input.EscapePressed ) Input.EscapePressed = false;
    }

    protected override void OnStart()
    {
	    menuState = State.None;
    }

    private void ExitGame()
    {
        Game.Close();
    }

    public enum State
    {
	    None,
	    Play,
		Create,
	    Settings,
		News
    }
}
