@using System
@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Network;
@inherits PanelComponent

<root>
	@if (menuState == State.None)
	{
		<div class="quit" @onclick=@( () => ExitGame() )>Quit</div>
		<div class="logo"></div>
		<div class="buttons">
			<div class="slice">
				<div class="play" @onclick=@( () => menuState = State.Play )>
					<div class="top-bar">
						<span>Play</span>
					</div>
					<div class="play-icon"></div>
				</div>
				<div class="settings" @onclick=@( () => Game.Overlay.ShowSettingsModal() )> @*@( () => menuState = State.Settings )>*@
					<span>Settings</span>
				</div>
			</div>

			<div class="slice">
				<div class="character" @onclick=@( () => menuState = State.Character )>
					<div class="top-bar">
						<span>Character</span>
					</div>
					<SkinPreview class="character-preview"
						SkinTexture=@CharacterCreator.Skins[CharacterCreator.Selected].Texture />
				</div>

				<div class="news" @onclick=@( () => menuState = State.News )>
					<span>News</span>
				</div>
			</div>
		</div>
	}
	@if (menuState == State.Play)
	{
		<ServerList @ref=serverList></ServerList>
	}
	@if (menuState == State.Create)
	{
		<LobbyCreator @ref=lobbyCreator></LobbyCreator>
	}
	@if (menuState == State.Character)
	{
		<CharacterCreator></CharacterCreator>
	}
	@if (menuState == State.Settings)
	{
		<Settings></Settings>
	}
	@if (menuState == State.News)
	{
		<News></News>
	}
</root>