{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "world": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "player": "Unset",
    "item": "Unset",
    "spectator": "Ignore"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "player",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "item",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "spectator",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "item",
      "r": "Unset"
    },
    {
      "a": "trigger",
      "b": "spectator",
      "r": "Ignore"
    },
    {
      "a": "world",
      "b": "spectator",
      "r": "Ignore"
    },
    {
      "a": "ladder",
      "b": "spectator",
      "r": "Ignore"
    },
    {
      "a": "water",
      "b": "spectator",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "spectator",
      "r": "Ignore"
    },
    {
      "a": "item",
      "b": "spectator",
      "r": "Ignore"
    },
    {
      "a": "spectator",
      "b": "spectator",
      "r": "Ignore"
    }
  ],
  "__guid": "1014df0a-5ba5-4879-a433-03863142e90d",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}