{
  "Version": 2,
  "Mixers": {
    "Guid": "baf992ce-fbb6-4f99-8bb7-637adc2ae520",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Spacializing": 1,
    "MaxVoices": 64,
    "DistanceAttenuation": 1,
    "Occlusion": 1,
    "AirAbsorption": 1,
    "OverrideOcclusion": false,
    "OcclusionTags": null,
    "Processors": [],
    "Children": [
      {
        "Guid": "029d4670-daf2-44aa-b5a2-c83c7df75637",
        "Name": "Music",
        "Volume": 0.5,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "MaxVoices": 64,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "ed4fb52a-6176-494a-bb0a-0e4d2dc46e1b",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "MaxVoices": 64,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "IsDefault": true,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "15393b77-706e-491f-8093-0f86bc8a1dfe",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "MaxVoices": 64,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "3558ff09-7804-4819-93e2-bfc3749c4d17",
        "Name": "Voice",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "MaxVoices": 64,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "c22989cb-531d-448b-b27b-1277fbb3de83",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}